<!doctype html>
<html>
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{%static 'css/bootstrap.min.css'%}" type="text/css" rel="stylesheet"> 
    <link rel="StyleSheet" href="{%static 'css/estilos.css'%}" type="text/css">
 
</head>
<body >
{%load static%}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" >
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">
        <span class="text-light fs-5 fw-bold">NOTICIAS</span></a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'registroo' %}">Registrarse</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href=" ">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'ver' %} ">Ver</a> 
          </li>
  
      </ul>
  
      </div>
      </div>
      </nav>

    </ul>
    <br><br><br><br>

    <div class="container">
        <div class="row">
            <form method="POST" action="#" id="formulario">
                {%csrf_token%}
                <div class="form-group">
                    {{colab_form.rut.label}}
                    {{colab_form.rut}}
                </div>
                <div class="form-group">
                    {{colab_form.nombre.label}}
                    {{colab_form.nombre}}
                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    {{colab_form.email.label}}
                    {{colab_form.email}}
                </div>
                <div class="form-group">
                    {{colab_form.pais.label}}
                    {{colab_form.pais}}
                </div>
                <div class="form-group">
                    {{colab_form.contraseña.label}}
                    {{colab_form.contraseña}}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
                    <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
                </div>
            </form>
        </div>
    </div>
    
    
  
</body>
<footer class="py-5">
  {%load static%}
  <div class="container" id="fondo">
    <p class="m-0" id="contactos" style="font-size: 13px;">David Cisternas@Copyright &copy; Your Website 2021 </p>
  </div>
</footer>
</html>